# Banco de Dados (Neon PostgreSQL)
# Cole aqui a Connection String do Neon (começa com postgresql://)
DATABASE_URL="postgresql://USER:SENHA@HOST/BANCO?sslmode=require"
DIRECT_URL="postgresql://USER:SENHA@HOST/BANCO?sslmode=require"

# NextAuth
NEXTAUTH_URL="https://SEU-DOMINIO-AQUI.vercel.app"
NEXTAUTH_SECRET="gere-uma-senha-forte-aqui-minimo-32-caracteres"

# URL pública do site
NEXT_PUBLIC_BASE_URL="https://SEU-DOMINIO-AQUI.vercel.app"
